/* reset di base */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color:#0C325A;
  position: relative;

}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container-head{
  background-color: #0C325A;
  width: 80%;
  height: 100px;
  margin: auto;
}

.logo{
  background-image: url('../img/logo.svg');
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  float: left;
  margin-top: 20px;
}

.nav-1{
  display: inline-block;
  width: 40%;
  float: left;
  margin-left: 3%;

}

.nav-1 li{
  display: inline-block;
  vertical-align: middle;
}

.nav-1 li a{
  text-decoration: none;
}

.nav-2{
  width: 40%;
  float: left;
  margin-left: 4%;
}

.nav-2 li{
  display: inline-block;
}

.nav-2 a{
  text-decoration: none;
}


.nav-1, .nav-2{
  margin-top: 40px;
  text-transform: uppercase;
}

li{
  margin-right: 2%;
}

li, a{
  color: white;
}

.button{
  border: 1px solid white;
  padding: 8px 25px;
  border-radius: 10px;
}

.button-color{
  background-color: green;
}

.hero{
  position:relative;
  height: 600px;
  background-color: #0C325A;
}

#img-hero{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 80%;
  object-fit: cover;
}

.titolo-hero{
  position: absolute;
  top: 50%;
  left: 8%;
  font-size: 60px;
  color: white;
}

.hero li {
  display: inline-block;
}

.hero li a{
  text-decoration: none;
  background-color: green;
}

.button-special{
  position: absolute;
  bottom: 13%;
  left: 8%;
  padding: 20px;
  text-transform: uppercase;
}

.subtitle{
  background-color: lightgrey;
  height: 150px;
  text-align: center;
  font-size: 24px;
}

.subtitle p{
  color: grey;
}

.subtitle *{
  padding-top: 20px;
}

.container-section{
  width: 80%;
  margin: auto;
  height: 250px;
  padding-top: 20px;
}

.col img{
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.col{
  float: left;
  width:calc(100% / 3);
  height: 100%;
}

.col h3{
  text-align: center;
}

.green-title{
  padding: 20px 0;;
  color: #7CBB02;
  font-size: 24px;
}

.mini-hr{
  width: 20%;
  margin: auto;
  color: #D3D3D3;
}

.text-section{
  color: grey;
  margin: 25px 0;
}
