/* reset di base */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/* header/logo e hero */
header{
  background-color:#0C325A;
  position: relative;
  overflow: hidden;
}

hr{
  width: 95%;
  margin: auto;
  border: 1px solid #D3D3D3;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container-nav-logo{
  background-color: #0C325A;
  width: 80%;
  height: 100px;
  margin: auto;
}

.logo{
  background-image: url('../img/logo.svg');
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  float: left;
  margin-top: 20px;
}

.nav-1{
  width: 40%;
  float: left;
  margin-left: 3%;
}

.nav-1 li{
  display: inline-block;
  vertical-align: middle;
}

.nav-1 li a{
  text-decoration: none;
}

.nav-2{
  width: 40%;
  float: left;
  margin-left: 4%;
}

.nav-2 li{
  display: inline-block;
}

.nav-2 ul :first-child{
  color: white;
}

.nav-2 a{
  text-decoration: none;
}

.nav-1, .nav-2{
  margin-top: 40px;
  text-transform: uppercase;
}

li{
  margin-right: 2%;
}

.nav-1 a, .nav-2 li a, .hero a{
  color: white;
}

.button{
  border: 1px solid white;
  padding: 8px 25px;
  border-radius: 10px;
}

.button-color{
  background-color: green;
}

.hero{
  position:relative;
  height: 600px;
  background-color: #0C325A;
}

#img-hero{
  position: absolute;
  bottom: 0;
  right: -60px;
  width: 60%;
}

.titolo-hero{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}

.hero li {
  display: inline-block;
}

.hero li a{
  text-decoration: none;
  background-color: green;
}

.button-special{
  position: absolute;
  bottom: 20%;
  left: 8%;
  padding: 20px;
  text-transform: uppercase;
}

/* sezione interline */
.subtitle{
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
}

.subtitle p{
  color: grey;
}

.text-subtitle{
  padding: 25px;
}

/* sezioni */
.container-section{
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.col img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.col{
  float: left;
  width:calc(100% / 3);
  height: 100%;
}

.col h3{
  text-align: center;
}

.green-title{
  padding: 20px 0;;
  color: #7CBB02;
  font-size: 24px;
}

.mini-hr{
  width: 20%;
  margin: auto;
  color: #D3D3D3;
}

.text-section{
  color: grey;
  margin: 25px 0;
  padding: 20px;
}

.container-section-2{
  width: 70%;
  margin: auto;
}

.container-section-2 img{
  width: 50%;
  float: left;
  margin: 50px 50px 20px 0;
}

.text-section-2{
  float: left;
  width: 30%;
  margin: 50px 0;
}

.text-section-2 h3{
  font-size: 28px;
  margin-bottom: 20px;
}

.text-section-2 p{
  color: grey;
  margin-bottom: 20px;
}

/* section bottom ed help button */
.container-section-bottom{
  background-color: lightgrey;
  height: 170px;
  position: relative;
}

.text-section-bottom{
  width: 80%;
  margin: auto;
}

.text-section-bottom h4{
  font-size: 28px;
  display: inline-block;
  padding: 50px 0;
  width: 60%;
}

.text-section-bottom a{
  font-size: 20px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.select{
  padding: 20px 30px 0 20px;
  color: grey;
  border-bottom: 1px solid grey;
}

.help{
  display: block;
  text-transform: uppercase;
  color: white;
  padding: 13px;
  border-radius: 5px;
  background-color: green;
  font-size: 20px;
  width: 80px;
  position: fixed;
  bottom: 0;
  right: 25%;
}
